.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  width: 90%;
  max-width: 360px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-content input,
.modal-content button {
  padding: 10px;
  font-size: 16px;
}

.modal-content button {
    background-color: black;
    color: white;

}